.nutrition-calculator {
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 8px;
}

.nutrition-calculator__results {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 48px;
}

.bmi-result,
.bmr-result {
    display: flex;
    align-items: center;
    gap: 8px;
}

.bmi-result__value-wrapper,
.bmr-result__value-wrapper {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 8px;
    border: 1px solid black;
    border-radius: 16px;
}

.bmr-result__value-wrapper {
    gap: 4px;
}

.bmi-result__value,
.bmr-result__value {
    width: 38px;
    text-align: center;
    font-variant-numeric: tabular-nums;
} 